<div *ngIf="showData" class="row padding-10">
  <ngx-datatable class="bootstrap"
                 [rows]="claimDatas"
                 [loadingIndicator]="loadingIndicator"
                 [columnMode]="'standard'"
                 [headerHeight]="35"
                 [rowHeight]="'35'"                 
                 [reorderable]="reorderable">

    <ngx-datatable-column name="ID" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()"><b>Claim</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <a href="#" (click)="clickDetail($event, value)">{{row.claimNumber}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PatientName" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="text-left" (click)="sort()"><b>Patient</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <a href="#" (click)="clickVeteran($event, row)">{{row.patientName}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="ServiceDate" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="text-left" (click)="sort()"><b>Service Date</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="text-left">{{row.serviceDate}}</div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PaidAmount" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="text-left" (click)="sort()"><b>Paid $</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="text-left">{{row.paidAmount}}</div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="PaidDate" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="text-left" (click)="sort()"><b>Paid Date</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="text-left">{{row.paidDate}}</div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Status" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span class="text-left" (click)="sort()"><b>Status</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="text-left">{{row.status}}</div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div *ngIf="showData" class="row padding-bottom-10">
  <div class="col-sm-12 text-right padding-right-10 padding-bottom-10">
    <button class="btn btn-primary" (click)="medicalAll($event)">ALL MEDICAL</button>
  </div>

</div>
