<div class="margin-bottom-15 margin-left-10 margin-right-10">
  <ngx-datatable class="bootstrap"
                 [rows]="notes"
                 [columnMode]="'force'"
                 [headerHeight]="50"              
                 [rowHeight]="50"
                 [loadingIndicator]="loadingIndicator"
                 [width]="200"
                 [messages]="{emptyMessage: 'No results'}"
                 [scrollbarV]="true">
    <ngx-datatable-column name="Date" prop="createdOn" [width]="10">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()"><b>Create Date</b></span>
      </ng-template>
       <ng-template let-value="value" ngx-datatable-cell-template>{{value | date: 'M/d/yyyy'}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Note Category" prop="noteCategory" [width]="150">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()"><b>Note Category</b></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <a href="" (click)="onSelect($event, row)">{{row.noteCategory}}</a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Note Type" prop="noteType" [width]="40">
      <ng-template ngx-datatable-header-template let-sort="sortFn">
        <span (click)="sort()"><b>Note Type</b></span>
      </ng-template>
    </ngx-datatable-column> 
  </ngx-datatable>
</div>

  <!--[selected]="selected"
  [selectionType]="'single'"
  (select)='onSelect($event)'-->
