<div class="col-xs-12" id="SiteBottomNavigation">
  <div id="upperBottomNavLinks">
    <ul>
      <li><a title="Provider Directory" href="#">Provider directory</a></li>
      <li><a title="Referrals" href="#">Referrals</a></li>
      <li><a title="Appointments" href="#">Appointments</a></li>
      <li><a title="CCN Claims" href="#">CCN Claims</a></li>
      <li><a title="Help" href="#">Help</a></li>
    </ul>
  </div>

  <div id="bottonNavLinks">
    <ul>
      <li><a target="_blank" title="Website Terms and Conditions" href="http://www.triwest.com/en/about-triwest/privacy-practices-and-legal-notices/website-terms-and-conditions/">Website Terms and Conditions</a></li>
      <li><a target="_blank" title="Internet Privacy Statement" href="http://www.triwest.com/en/about-triwest/privacy-practices-and-legal-notices/internet-privacy-statement/">Internet Privacy Statement</a></li>
      <li><a target="_blank" title="Web Security Statement" href="http://www.triwest.com/en/about-triwest/privacy-practices-and-legal-notices/web-security-statement/">Web Security Statement</a></li>
    </ul>
  </div>
  <div id="bottomNavCopy">Copyright &#169; {{year | date : 'y' }} - <a href="#" target="_blank">TriWest Healthcare Alliance</a></div>
</div>
